<%= form_with model: @task, class: "task-input" do |f| %>
<div class="jumbotron" id="description">
  <p>Please provide the following information to <%= verb_name %> a task:</p>

  <div>
  <p><%= f.label :name %>
  <%= f.text_field :name%></p>

  <p><%= f.label :description %>
  <%= f.text_field :description%></p>
  </div>

  </div>

    <p class="buttons"><%= f.submit action_name, class: "btn btn-primary" %>
      <%= link_to "Return to Tasks List", tasks_path, class: "btn btn-primary" %>
    </p>
<% end %>
