<%# form_with is a view helper that will generate the proper form for us and will help us hook into the other controller actions %>
<%# pass url to tell the form where to make the request %>
<%= form_with model: @task, class: task_form_class do |f| %>
  <p>Please provide the following information to update this new task:</p>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :completed %>
  <%= f.text_field :completed %>
  <br>
  <%= f.submit submit_button_label, class: task_submit_class %>
<% end %>
