<%= form_with model: @task, class: 'edit-task' do |f| %>
<p>Please provide the following information to <%= action_name %> your task:</p>

  <%= f.label :name %>
  <%= f.text_field :name%>
  <%= f.label :description %>
  <%= f.text_area :description%>

  <%= f.label :completed %>
  <%= if @task.completed == nil 
        f.check_box :completed 
      else 
        f.check_box :completed, {checked: true}
      end %>

  <%= f.submit action_name.capitalize, class: "task-button" %>
<% end %>