
<p>Please provide the following information to <%= verb_name %> your task:</p>

<%= form_with model: @task, class: "task-input" do |f| %>
  <%= f.label :name %>  
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :completed %>
  <section class = "radio_input">
  <%= f.radio_button :completed, nil %> <%= f.label :sex, "Not Completed", class: "radio_label"  %> 
  <%= f.radio_button :completed, DateTime.new %> <%= f.label :sex, "Completed", class: "radio_label" %>

  <%= f.submit "Save Task", class: "task-button" %>
<% end %>