<h1 class="box header"><%= verb %> a Task</h1>

<div class="box">
<%= form_for @task do |f| %>
  Name : <%= f.text_field :name %><br />
  Description : <%= f.text_area :description %><br />
   
  <%= f.submit action_name %>

  </div class="box">
<% end %>
