<%= form_with model: model, edit_completion_date: edit_completion_date, class: 'task-form' do |f| %>
  <ul>
  <li>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </li>
  <li>
  <%= f.label :description %>
  <%= f.text_field :description %>
  </li>
  <li>
  <%= f.label :completion_date, "Completed" %>
  <% if edit_completion_date == true %>
    <%= f.text_field :completion_date %>
  <% else %>
    <%= model.completion_date %>
  <% end %>
  </li>
  </ul>
  <p>
  <%= f.submit "SUBMIT", class: 'task-form-button' %>
  </p>
<% end %>

