
<p>Please provide the following information to <%= verb_name %> your task:</p>

<%= form_with model: @task, class: "task-input" do |f| %>
  <%= f.label :name %>  
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :due_date %>
  <%= f.text_area :due_date %>

  <%= f.label :completed %>
  <%= f.check_box :completed%>

  <%= f.submit "Save Task", class: "task-button" %>
<% end %>