<p>Please provide the following information to <%= verb_name %> your task to our database:</p>

<%= form_with model: @task, class: "task-input" do |t| %>

  <%= t.label :name %>
  <%= t.text_field :name %>

  <%= t.label :description %>
  <%= t.text_field :description %>

  <%= t.label :completed %>
  <%= t.text_field :completed %>

  <%= t.submit "#{action_name} Task", class: "task-button" %>

<% end %>