<%= form_with model: @task, class: 'edit-task' do |f| %>

<p>Please <%= verb_name %> the book: </p>

<%= f.label 'Name' %>
<%= f.text_field :name %>

<%= f.label 'Description' %>
<%= f.text_field :description %>

<%= f.submit action_name, class: "task-button" %>

<% end %>