<p>Please provide the following information to <%= verb_name %> your task to our database:</p>

<%= form_with model: @task, class: "task-input" do |t| %>

  <%= t.label :name %>
  <%= t.text_filed :name %>

  <%= t.label :description %>
  <%= t.text_filed :description %>

  <%= t.label :due %>
  <%= t.text_filed :due %>

  <%= t.label :done %>
  <%= t.check_box :done %>

  <%= t.submit "#{action_name} Task", class: "task-button" %>

<% end %>