<div id="view_body">
  <div id="left-screen">
    <div class="button"><%= link_to "â† Back to Tasks", root_path %></div>
  </div>

  <div id="right-screen">
    <%= form_with model: @task do |f| %>
      <h2><%= action_name %> Task</h2>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.submit "Save" %>
    <% end %>
  </div>
</div>
