<%= form_with model: @task, class: "task-form" do |f| %>

    <section class="line"><%= f.label :name %></section>
    <section class="line" id="textbox"><%= f.text_field :name %></section>
    <section class="line"><%= f.label :description %></section>
    <section class="line"><%= f.text_field :description %></section>

    <section class="line"><%= f.submit submit_button, class: "task-form-button" %></section>

  <% end %>