<p>Please <%= verb_name %> the task: </p>

<%= form_with model: @task, class: "#{action_name.downcase}-task" do |f| %>

<%= f.label 'Name:' %>
<%= f.text_field :name %> <br><br>

<%= f.label 'Description:' %>
<%= f.text_area :description %> <br><br>

<br><br><br>
<%= f.submit action_name, class: "task-button" %>

<% end %>