<h3>Edit Task Form</h3>
<h3>For <%= @edit_task.name %>
<%= form_with model: @edit_task, class: 'edit-task-form' do |f| %>
  <ul>
  <li>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </li>
  <li>
  <%= f.label :description %>
  <%= f.text_field :description %>
  </li>
  <li>
  <%= f.label :completion_date %>
  <%= f.text_field :completion_date %>
  </li>
  </ul>
  <p>
  <%= f.submit "SUBMIT THAT SHIT", class: 'task-y-button' %>
  </p>
  Here's for your edit task
<% end %>

