<%= form_with model: @task, class: "#{action_name}-task" do |f| %>
  <p>Please provide the following information to <%="#{action_name}"%> your task:</p>

  <%= f.label :name %> 
  <%= f.text_field :name %> <br />

  <%= f.label :description %> 
  <%= f.text_field :description %> <br />

  <%= f.submit "#{action_name.capitalize} Task", class: 'tasks-button' %>

<% end %>