<section>
  <fieldset> 
  <h2>Details</h2>

  <%= form_with model: @task, id: form_css_id do |f| %>
    <p>
      <%= f.label :name, 'Task Name:' %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description, 'Description:' %>
      <%= f.text_field :description %>
    </p>
    <p>
      <%# f.label :due_date, 'Due Date:' %>
      <%# f.date_select :due_date %>
    </p>
    <p>
      <%= f.submit submit_label %>
    </p>

  </fieldset> 
  <% end %>
</section>
