<section class="centered">
  <%= form_with model: @task do |f| %>
    <%= f.label :name %><br>
    <%= f.text_area :name %><br>
  <br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
  <br>
    <%= f.submit button_text.capitalize %>
  <%end%>

  <section class="msg">
    <% if @task && @task.errors.any? %>
      <% if @task.errors.count == 1 %>
        <h3>SPECIAL MESSAGE</h3>
      <% else %>
        <h3>SPECIAL MESSAGES</h3>
      <% end %>

      <% @task.errors.full_messages.each do |msg| %>
        <h3><%= msg %></h3>
      <% end %>
    <% end %>
  </section>
</section>