<h3>Edit your new task:</h3>

<%= form_with model: @task, class: "edit-task-form" do |t| %>

  <%= t.label :name %>
  <%= t.text_field :name %>
  <%= t.label :description %>
  <%= t.text_field :description %>
  <%= t.label :completion_date %>
  <%= t.text_field :completion_date %>
  
  <%= t.submit "Update", class: "task-form-button" %>

<% end %>