<h1> Edit Form </h1>

<h2> Current task is: <%= @task.name %> </h2>

<%= form_with model: @task, class: 'edit-task-form' do |f| %>
  <p> Please fill out the following form to update this task. </p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :completion_date %>
  <%= f.text_field :completion_date %>

  <%= f.submit "Save Task", class: "task-form-button" %>
<% end %>
