<h2>Edit Task Form</h2>

<%# form_with is a view helper that will generate the proper form for us and will help us hook into the other controller actions %>
<%= form_with model: @task, class: "edit-task-form" do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :completion_date %>
  <%= f.button :completion_date %>
  
  <%= f.submit "Edit Task", class: "task-form-button" %>

<% end %>