<h1>Task#edit</h1>
<%# how to avoid generating a form when the data is nil %>

<%= form_for @task do |f| %>
  <%= f.label 'Task Name' %><br>
  <%= f.text_field :name %><br>

  <%= f.label 'Task Description' %><br>
  <%= f.text_area :description %><br>

  <%= f.submit "Update Task" %>
<% end %>
<p><%= link_to 'Return to Task List', tasks_path %></p>