<h2>Edit a task</h2>

<%= form_with model: @task, class: 'edit-task' do |f| %>

<p>Please edit the following information to update your task in the database:</p>

  <%= f.label :name %>
  <%= f.text_field :name %><br><br>

  <%= f.label :description %>
  <%= f.text_field :description %><br><br>

  <%= f.submit "Update Task", class: "task-button" %>

<% end %>
