<section class="forms">

  <h1>Edit Task</h1>

  <%= form_with model: @task, class: "edit-task-form" do |f| %>

    <section class="line"><%= f.label :name %></section>
    <section class="line" id="textbox"><%= f.text_field :name %></section>
    <section class="line"><%= f.label :description %></section>
    <section class="line"><%= f.text_field :description %></section>
    <section class="line"><%= f.label :completed %></section>
    <section class="line"><%= f.text_field :completed %></section>

    <section class="line"><%= f.submit "Submit Edited Task", class: "task-form-button" %></section>
  <% end %>
</section>