  <h1>Edit the task:</h1>

<%= form_with model: @task, class: 'create-task' do |f| %>
  <p>Please provide the following information to save your task to the list:</p>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "Save Edit", class: "task-button" %>
<% end %>