<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tasks</title>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %>
    </nav>
    <%= form_with model: @task, class: 'edit-task' do |f| %>
      <p>Please provide the following information to update your task to our database:</p>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.submit "Update Task", class: "task-button" %>
    <% end %>
  </body>
</html>