<h2>Edit Task</h2>

<%= form_with model: @task, class: 'edit-task' do |f| %>
  <section class="current">
    <h3>Current Task Information</h3>

    <ul>
      <li>
        Name: <%= @task.name %>
      </li>
      <li>
        Description: <%= @task.description %>
      </li>
    </ul>
  </section>

  <section class="updated">
    <h3>Please enter the new information for this task</h3>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.submit "Update Task", class: "task-button" %>
  </section>
<% end %>