
<%= form_for @task do |f| %>
  <p>Please provide the follow information:</p>

  <%= f.label "Name:" %>
  <%= f.text_field :name %>
  <br />

  <%= f.label "Description:" %>
  <%= f.text_field :description %>
  <br />

  <%= f.submit "Update Task" %>
<% end %>

<p><%= link_to "Back to task list", root_path %></p>