<link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">

<h1 class="head">Edit Task</h1>

<%= form_with model: @task, class: 'edit-task' do |f| %>
<p>Please provide the following information to update your task:</p>

  <%= f.label :name %>
  <%= f.text_field :name%>

  <%= f.label :description %>
  <%= f.text_field :description%>

  <%= f.label :completed %>
  <%= if @task.completed == nil 
        f.check_box :completed 
      else 
        f.check_box :completed, {checked: true}
      end %>

  <%= f.submit "Update Task", class: "task-button" %>

  <%= button_to "Return to Task List", tasks_path, method: :get, class: "task-button" %>
<% end %>