<%= render partial: "form", locals: {action_name: "Edit"} %>
<%#
<%= form_with model: @task, class: 'edit-task' do |f| %>

<%# <p>Please edit this task: </p> %>

<%# <%= f.label 'Name' %>
<%# <%= f.text_field :name %> %> %>

<%# <%= f.label 'Description' %> %>
<%# <%= f.text_field :description %> %>

<%= f.submit "Save Task", class: "task-button" %>

<%# <% end %> %> %>
