<h1>Edit Task</h1>

<%= form_for @task do |f| %>
  Name : <%= f.text_field :name %><br />
  Due Date: <%= f.text_field :completion_date %><br />
  Description : <%= f.text_area :description %><br />
  <%= f.submit %>
<% end %>