<h2>YOUR TASKS</h2>

<ul>
  <% @tasks.each_with_index do |task, i|  %>
    <li>
      <%= link_to task.name, task_path(task.id) %>
      <%= link_to 'View', task_path(task.id) %>
      <%= link_to 'Edit', edit_task_path(task.id) %>
      <%= link_to 'Delete', task_path(task.id), method: :delete, data: {confirm: "Delete task?"} %>
      <%# <%= link_to 'Mark Complete', task_path(task.id), method: :update, data: {confirm: "Delete task?"} %> %>
    </li>
  <% end %>
</ul>

<%= link_to "Add Task", new_task_path %>
