<h1>Hallie's Task List</h1>

<ul>

  <% @ordered_tasks.each do |task| %>
    <li>Task: <%= link_to task.name, task_path(task) %> 
    <br>
    Description: <%= task.description %>
    <br>
    Completed:<%= task.completion_date %>
    <br>
    <%= link_to "Mark as Complete", completed_path(task.id), method: :patch %>
    <br>
    <%= link_to "Delete Task", task_path(task), method: :delete, data: {confirm: "Are you sure you want to delete this task?"} %></li><br>

  <% end%>
</ul>

<p><%= link_to "Add a New Task", new_task_path %></p>
