<body>
  <h1>TASK LIST</h1>
  <section id="container">
    <section id="buttons">
      <p><%= link_to "Add Task", new_task_path %></p>
      <p><%= link_to "All Tasks", tasks_path %></p>
    </section>

    <ol>
      <% @tasks.each do |task| %>
        <li>
          <p> <strong> Name: </strong> <%= link_to task.name, task_path(task.id) %> <br>
          <strong> Description: </strong> <%= task.description %> <br>
          <strong> Completion Date: </strong> <%= task.completion_date %> </p>
          <%= link_to "Edit", edit_task_path(task) %> <%= link_to "Delete", task_path(task), method: :delete, data: {confirm: "Are you sure?"}%>
        </li>
      <% end %>
    </ol>

  </section>
</body>

<footer>
  <p>Copywrite 2019</p>
</footer>