<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>

      <li> Title: <%= link_to task.name, task_path(task) %> </li>
      <li> Due Date: <%= task.completion_date %> </li>
      <li> Description: <%= task.description %> </li>
      <%= link_to "Delete Task", task_path(task), method: :delete, data: {confirm: "Are you sure you want to delete the task: '#{task.name}' ? This cannot be undone!"} %>
    <hr>
  <% end %>
  <%= link_to "Create Task", new_task_path %>
  
</ul>