<h1>List of Tasks</h1>

<section>
  <%= form_tag complete_tasks_path, :method => :patch do %>
    <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= check_box_tag "task_ids[]", task.id, checked = task.completion_date == nil ? false: true %>
        <%= link_to task.name, task_path( task.id ) %>: <%= task.description %>
        <%= link_to "(Delete)", task_path( task.id ), method: :delete, data: { confirm: "Are you sure you want to delete #{task.name}?" }, class: "index-delete-link" %>
        <%= task.completion_date %>
      </li>
    <% end %>
    </ul>
    <%= submit_tag "Submit" %>
  <% end %>
</section>
