<p><% @tasks.each do |task|%>
<p><%= link_to task.name%><%= task.description%> completed <%= task.completed%></p>
<% end %>
<h2>list o' all tasks</h2>
<ul><% @tasks.each do |task|%>
<li><%= link_to task.name%><%= task.description%> completed <%= task.completed%> <%= link_to"(Delete)", task_path( task.id ), method: :delete, data: { confirm: "Are you sure you want to delete this task?"} %>
<% end %>
</li>
</ul>