<h1>Task-List</h1>

<section class="summary">
<p><%= link_to "All Tasks", tasks_path %></p>
<p><%= link_to "Add a Task", new_task_path %></p>
</section>

<ol class="details">
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.name, task_path(task) %>: 
      | <%= link_to "Edit", edit_task_path(task) %>
      | <%= link_to "Delete", task_path(task), method: :delete, data: {confirm: "Are you sure?"} %>
      | <% if task.completed == nil %>
          <%= link_to "Mark Complete", completed_task_path(task), method: :patch %>
        <% else %>
          <%= link_to "Unmark Complete", completed_task_path(task), method: :patch %>
        <% end %>
    </li>
  <% end %>
</ol>