<h1>Task List</h1>

<ol>
  <%# @tasks.sort_by! {&:id} need to print tasks in order of id, not updated time%>
  <% @tasks.each do |task|  %>
    <li> <%= link_to "Task: #{task.name}", task_path(task.id) %> </li>
      <ul>
        <li> Details: <%= task.description %> </li>
        <li> Due by: <%= task.completion_date %> </li>
      </ul>
  <% end %>
</ol>

<%= link_to "Add a new task", new_task_path %>

<%= image_tag "tasks.jpg", alt: "Picture of tasks." %>

