<h1>Tasks</h1>
<h1> Home Page: Tasks </h1>

<section>
<h2> Tasks </h2>
<ul>
 <% @tasks.each do |task| %>
  <li>
   <%= link_to task.name, task_path( task.id ) %> <%= task.description %>
   <%= link_to "delete", task_path( task.id ), method: :delete, data: { confirm: "The following action will permanently delete this task. Press 'OK' to continue, or cancel to return." }, class: "index-delete-link" %>
   <%= link_to "mark as complete", complete_path( task.id ), method: :patch %>
   </li>
 <% end %>
</ul>

<p><%= link_to "Create new task", new_task_path %>
</section>
