
<section>
    <article>
    <h1>TaskList</h1>
    <%= link_to "Add Task", new_task_path, class: 'btn' %>
    <%= link_to "All Tasks", tasks_path, class: 'btn' %>
    </article>
  <ol>
    <% @tasks.each do |task| %>
      <li>
        <%= link_to task.name, task_path( task.id ), class: 'task-name' %>
        <p><%= task.description %> | <%= link_to "Edit", edit_task_path( task.id )%></p>


        <p><%= task.completion_date %> | <%= link_to "Edit", edit_task_path( task.id )%> </p>
      </li>
    <% end %>
  </ol>
</section>
