<h2>Clara's To Do List</h2>

<section class="task list">
 <ul>
  <% @tasks.each do |task| %>
   <li>
    <%= link_to task.name, task_path(task.id) %> 
    <% if task.progress == "completed" %>
     <%= button_to "completed task" %>
    <% else %>
     <%= button_to "complete this task" %>
    <% end %>
     <%= link_to "delete", task_path(task.id), method: :delete, data: { confirm: "Do you really want to delete this task?" } %>
   </li>
  <% end %>
 </ul>
</section>

<section class="Add a task">
 <%= link_to "Add a new task!", "/tasks/new"%>
</section>