<h1>List of Tasks</h1>

<section>
  <%= form_tag complete_tasks_path, :method => :patch do %>
    <table>
      <tr>
        <th>Completed?</th>
        <th>Task</th>
        <th>Description</th>
        <th>Completion Time</th>
        <th>Delete?</th>
      </tr>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= check_box_tag "task_ids[]", task.id, checked = task.completion_date == nil ? false: true %></td>
          <td><%= link_to task.name, task_path( task.id ) %></td> 
          <td><%= task.description %></td>
          <td><%= task.completion_date %></td>
          <td><%= link_to "Delete", task_path( task.id ), method: :delete, data: { confirm: "Are you sure you want to delete #{task.name}?" }, class: "index-delete-link" %></td>
        </tr>
      <% end %>
    <table>
    <%= submit_tag "Submit", :class => "button"%>
  <% end %>
</section>