<nav>
  <ul>
    <li> Tasks </li>
  </ul>
</nav>

<section class = "All_Tasks">
    <h1> Tasks </h1>
    <ul.order>
      <%@tasks.each do |task| %>
        <li> 
        <%= task.name %> 
        <%= link_to "(Edit)", edit_task_path( task.id )%>
        <%= link_to "(Delete)", task_path( task.id ), method: :delete, data:{ confirm: "Are YOU sure?" }, class: "index-delete-link" %>
        <% if task.completed?%>
            <%=link_to "(Incomplete)", complete_path( task.id ),method: :patch%>
        <%else%>
            <%=link_to "(Complete)", complete_path( task.id ), method: :patch%>
        <%end%>
        </li>
    <%end%>
    </ul>
  </section>

<p class = "CreateTask">
<%= link_to "Create New Task", new_task_path, class: "New Task Form" %>
</p>