
<ol>
  <% @tasks.each do |task|  %>
    <li class="task-names">
      <%=link_to task.name, task_path(task)%>
      <ul class="task-actions">
        <%=link_to "Edit", edit_task_path(task.id)%>
        <%=link_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Are you sure?"}%>
        <%if task.completed != nil%>
          <%=link_to "Mark-Uncomplete", complete_task_path(task.id), method: :patch%>
        <%elsif task.completed == nil%>
          <%=link_to "Mark-Complete", complete_task_path(task.id), method: :patch%>
        <%end%>
      </ul>
    </li>
  <%end%>
</ol>










