<p>
  Here are my tasks:
  <ul> <% @tasks.each do |task| %>
    <li> <%= task.name %> 
      <ul>
        <li> Description: <%= task.description %> </li>
        <li> Completion Date: <%= task.completion_date %> </li>
        <li> <%= link_to "Edit Task", edit_task_path(task.id) %> </li>
        <li> <%= link_to "Delete Task", task_path(task.id), method: :delete, data: {Confirm: "Hold up! Are you sure you want to delete this item?"} %> </li>
        <li> <% if task.completion_date == nil %>
          <%= link_to "Mark Complete", toggle_path(task.id), method: :patch %>
          <% else %>
          <%= link_to "Mark Incomplete", toggle_path(task.id), method: :patch %>
          <% end %>
        </li>
      </ul>
    </li>
    <% end %>
  </ul>
</p>