
<%= stylesheet_link_tag 'application' %>

<h2>Clara's To Do List</h2>

<section class="task-list">
 <ul> 
  <% @tasks.each do |task| %>

   <li>
    <h3><%= link_to task.name, task_path(task.id) %></h3> 

    <% if task.progress == "completed" %>
     <%= "completed task" %>
    <% else %>
    <%= button_to "mark as completed", completing_path(task.id), :method=> :patch%>
    <%# <%= button_to "mark as completed", task_path(task.id), method: Task.mark_as_completed %>
    <%end%>

     <%= link_to "delete", task_path(task.id), method: :delete, data: { confirm: "Do you really want to delete this task?" } %>

   </li>
  <% end %>
 </ul>
</section>

