<section class="task-list">
  <header class="task-list-header">
  <h2>Task List</h2>
  </header>
  <section>
    <ol class="main-page-list">
      <% @tasks.each do |task| %>
      <li><%= link_to task.name, task_path(task.id), class: "task-name" %>
      <p>Description: <%= task.description %></p>
      <p>Completed: <%= task.completed %></p>

      <p><%= button_to "#{task.completed ? "Mark as Not Completed" : "Mark as Completed"}", completed_task_path(task.id), method: :patch %> <%= button_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Sure about that?"} %></p>
      
      </li>
      <% end %>
    <ol>
  </section>
</section>