<h1 class="blinking_border">Tasks#index</h1>

<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>DESCRIPTION</th>
    <th>COMPLETION DATE</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </tr>

  <% @tasks.each do |task| %>
  <tr>
  <td><%= task.id %></td>
  <td><%= link_to task.name.capitalize, task_path( task.id ) %></td>
  <td><%= task.description.capitalize %></td>
  <td>
    <% if task.completion_date %>
      <%= task.completion_date %>
    <% else %>
      Toggle to done here
    <% end%>
    </td>
  <td>edit</td>
  <td>delete</td>
  </tr>
  <% end %>
</table>

<%= render 'msg' %>

<footer>
<h3>LINKS</h3>
<%= link_to "MAKE NEW TASK", new_task_path %>
</footer>

