<%= form_with model: @task do |f|  %>
  <h1> Create a New Task </h1>
  <h2> Please provide the information below to create a new task.</h2>

  <%= f.label 'Name:'  %>
  <%= f.text_field :name %>

  <%= f.label 'Description:' %>
  <%= f. text_field :description%>

  <%= f.submit 'Save Task '%>
  
<% end %>

