<%= form_with model: @task, class: 'create-task' do |f| %>

<p>Please add another task to the to-do list: </p>

<%= f.label :name %>
<%= f.text_field :name%>

<%= f.label :description %>
<%= f.text_field :description%>

<%= f.label :date_assigned %>
<%= f.text_field :date_assigned%>

<%= f.label :date_completed %>
<%= f.text_field :date_completed%>

<%= f.submit "Save Task", class: "task-button"%>

<% end %> 