<%= form_with model: @task, class: 'create-task' do |f| %>
<p>Please provide the following information about the new task:</p>

<%= f.label :name, 'Task name' %> 
<%= f.text_field :name %> 

<%= f.label :description, 'Description' %>
<%= f.text_field :description %>

<%= f.label :completed, 'Completed' %>
<%= f.text_field :completed %>

<%= f.submit "Save Task", class:  "task-button" %>

<% end %>