<h1 class="blinking_border">ADD NEW TASK</h1>

<section class="centered">
  <%= form_with model: @task do |f| %>
    <%= f.label :name %><br>
    <%= f.text_area :name %><br>
  <br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
  <br>
    <%= f.label :completion_date %><br>
    <%= f.text_area :completion_date %><br>
  <br>
    <%= f.submit "Make new task!" %>
  <%end%>
</section>

