<h1>Tasks#new</h1>
<p>Create a new task here!</p>

<%= form_with model: @task do |f| %>
  <%= "Task name:" %>
  <%= f.text_field :name %><br/>
  <%= "Task description:" %>
  <%= f.text_field :description %><br>
  <%= f.submit "Create Task" %>
<% end %>