<h3>New Task Form</h3>

<%= form_with model: @task, class: 'new-task-form' do |f| %>
  <ul>
  <li>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </li>
  <li>
  <%= f.label :description %>
  <%= f.text_field :description %>
  </li>
  <li>
  <%= f.label :completion_date, "Completed" %>
  <%= @task.completion_date %>
  </li>
  </ul>
  <p>
  <%= f.submit "SUBMIT THAT SHIT", class: 'task-y-button' %>
  </p>
  Here's for your new task
<% end %>

