<h3>Create your new task:</h3>

<%= form_with model: @task, class: "new-task-form" do |t| %>

  <%= t.label :name %>
  <%= t.text_field :name %>
  <%= t.label :description %>
  <%= t.text_field :description %>
  <%= t.label :completion_date %>
  <%= t.text_field :completion_date %>
  
  <%= t.submit "Create task", class: "task-form-button" %>

<% end %>