
<section class="container">
  <section class="buttons">
    <p><%= link_to "Add Task", new_task_path %></p>
    <p><%= link_to "All Tasks", tasks_path %></p>
  </section>

<section class="form">
  <%= form_with model: @task, class: 'create-task' do |f| %>
  <p>Please provide the following information to save your task to our database:</p>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.submit "Save task", class: "task-button" %>

  <% end %>
</section>
</section>