<section id="container">
  <section id="buttons">
    <p> <%= link_to "Edit Task", edit_task_path %></p>
    <p> <%= link_to "Back to Tasks", tasks_path %></p>
  </section>

  <h2>Name: <%= @task.name %></h2>
  <h2>Description: <%= @task.description %></h2>
  <h2>Completion Date: <%= @task.completion_date %></h2>
</section>