
<ul>
<li>Name: <%= @task.name %></li>
<li>Description: <%= @task.description %></li>
<% if @task.completed? %>
<li>Completion Date: <%= @task.completion_date %></li>
<%end%>
<li>Status: <% if @task.completed? %></li> 
                  Great!
            <% else %>
                  Try Again.
            <% end %>      

<p><%= link_to "Return to Task List", tasks_path %></p>
</ul>
<%# Description: <%= task[:description] %>  
<%# Completion_Date: <%= task[:completion_date] %> 
