<section class="task-list">
  <section class="task">
    <h2>Selected Task</h2>
    <%= render inline: "<strong><u>Name:</u> </strong>" %> <%= @task.name %> <br>
    <%= render inline: "<strong><u>Description:</u> </strong>" %> <%= @task.description %>
    <br>
    <%= link_to "Edit", edit_task_path %>
    <%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure you want to delete this task?" } %>
  <section>
</section>