<% if !@task.completed %>
  <h2 class="name"><%= @task.name %></h2>
<% else %>
  <h2 class="completed-name"><%= @task.name %></h2>
<% end %>

<span class="description"><%= @task.description %></span><br>

<div class="links">
  <% if !@task.completed %>
    <span class="completed">Not complete</span><br><br>
    <%= link_to "Mark complete", complete_task_path(@task.id), method: :patch %> |
  <% else %>
    <span class="completed">Completed: <%= @task.completed.in_time_zone("Pacific Time (US & Canada)").strftime("%B %e, %Y at %l:%M %p") %></span><br><br>
    <%= link_to "Mark not complete", not_complete_task_path(@task.id), method: :patch %> |
  <% end %>

  <%= link_to "Edit", edit_task_path %> |
  <%= link_to "Delete", task_path(@task.id), method: :delete, data: {confirm: "Are you sure you want to delete this?"} %><br><br>
</div>

<span class="button">
  <%= link_to "Return to Task List", tasks_path %>
</span>
