<section class="container">
  <section class="buttons">
    <p> <%= link_to "Edit Task", edit_task_path %></p>
    <p> <%= link_to "Back to Tasks", tasks_path %></p>
  </section>

  <ol>
    <p><b> Name: </b> <%= @task.name %></p>
    <p><b> Description: </b> <%= @task.description %></p>
    <p><b> Completion Date: </b> <%= @task.completion_date %></p>
  </ol>
</section>