<h2>Task Details</h2>

<p>Name: <%= @task.name %><br>
Description: <%= @task.description %><br>
Completion Date: <%= @task.completion_date %></p>

<p><%= link_to "Edit Task", edit_task_path %></p>

<p><%= link_to "Return to Task List", tasks_path %></p>
