<link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">

<h1>TASK DETAILS: <%= @task[:name].upcase %></h1>
<% if @task.completed == nil %>
  <p><%= @task[:description].capitalize %></p>
  <% else %>
  <p><%= @task[:description].capitalize %> by <%= @task[:completion_date] %></p>
  <% end %>
  <p><%= button_to "Return to Task List", tasks_path, method: :get, class: "task-button" %></p>