<h1>SHOWING Task#<%= @task.id %></h1>

<section class="centered">
Name: <%= @task.name.capitalize %> <br>
Description: <%= @task.description.capitalize %> <br>

<% if @task.completion_date %>
  Completion Date: <%= @task.completion_date %><br>
<% else %>
  Completion Date: Pending...
<% end%>
</section>

<%= render 'msg' %>

<footer>
<h3>LINKS</h3>
<%= link_to "HOME", root_path %>
</footer>