<h2>Selected Task</h2>
<%= render inline: "<strong>Name: </strong>" %> <%= @task.name %> <br>
<%= render inline: "<strong>Description: </strong>" %> <%= @task.description %>
<br>
<%= link_to "Edit", edit_task_path %>
