<h3>
  <%= @task.name %> 
</h3>
<p>
<%= @task.completion_date %>
</p>
<p>
Task ID: <%= @task.id %>
</p>
<p>
  <%= link_to "Edit Task", edit_task_path %>
  
</p>
<%= image_tag("https://cataas.com/cat") %>


