<section id="show_task">
<h3>Task: <%= @task.name %></h3>
<p> Description: <%= @task.description %></p>
<% complete = <%= @task.completion %> %>%

<p> Due_Date: 
if <%= complete != nil %>
Completed: <%= @task.completion %>
else 
Completed: Not Yet Completed
</p>
</section>

