<div class="description">
  <h2><%= @task.name.upcase %></h2>
  <p>Description: <%= @task.description %></p>
  <p>Completion Date: <%= @task.completion_date %></p>
</div>

<div class="actions">
  <%= link_to "All Tasks", tasks_path %>
  <%= link_to 'Edit', edit_task_path %>
  <%= link_to 'Delete', task_path, method: :delete, data: {confirm: "Delete task?"} %>
  <% if @task.completion_date == nil %>
    <%= link_to 'Mark Complete', toggle_complete_path, method: :patch %>
  <% else %>
    <%= link_to 'Unmark Complete', toggle_complete_path, method: :patch %>
  <% end %>
</div>
