<section>
  <h1><%=@task.name%></h1>
  <p><%=@task.description%></p>
  <p><%=@task.completed%></p>
  <%= link_to "Edit task", edit_task_path(@task.id) %>
</section>

<section>

  <%# maybe make this randomly select a different kaya photo from images %>
  <%# asset image view help rail %>
  <%= image_tag "kayas-mugshot.jpg", alt: "Kaya the shibo looking straight into the camera with a 'are-you-serious?' face" %>

</section>