
<section class="task-info">
<h3>
  <%= @task.name %> 
</h3>

  <p>
    Completed on: <%= @task.completion_date %>
  </p>

  <p>
    Task description: <%= @task.description %>
  </p>

</section>

  <p class="task-button-container">
  <span class="task-button">
    <%= link_to "Edit Task", edit_task_path %>
  </span>
  <span class="task-button">
  <%= link_to 'Destroy', task_path, method: :delete, data: { confirm: "Are you suuuure?" } %>
  </span>
  </p>



