<h1>SHOWING Task#<%= @task.id %></h1>

<section class="centered">
<table>
<tr>
  <th>ID</th>
  <th>NAME</th>
  <th>DESCRIPTION</th>
  <th>COMPLETED</th>
  <th>EDIT</th>
  <th>DELETE</th>
</tr>
<tr>
  <td><%= @task.id %></td>
  <td><%= @task.name.capitalize %></td>
  <td><%= @task.description.capitalize %></td>
  <td>
    <% if @task.completion_date %>
      <%= @task.completion_date %><br>
    <% else %>
      Pending...
    <% end%>
  </td>
  <td><%= link_to "EDIT", edit_task_path(id: @task.id)%></td>
  <td><%= link_to "DELETE", task_path(id: @task.id), method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr>
</table>
</section>

<%= render 'footer' %>