<section class="details">
  <h1><%=@task.name%></h1>
  <p><%=@task.description%></p>
  <p><%=@task.completed%></p>
  <button><%= link_to "Edit task", edit_task_path(@task.id) %></button>
</section>

<section class="show-photo">
  <%= image_tag "kaya-as-tritop.jpg", alt: "Kaya the shibo looking straight into the camera with a 'are-you-serious?' face" %>
</section>