<section>
  <h1><%=@task.name%>: </h1>
  <h2><%=@task.description%></h2>
  <p> Completed? <%=@task.completion_date == nil ? "No": "Yes: #{@task.completion_date}" %></p>
  <%= link_to "Edit", edit_task_path(@task.id) %>
</section>

<section>
<%= image_tag "https://www.projectengineer.net/wp-content/uploads/2016/11/task-list-2.png", alt: "Task list with checkmarks and clock" %>

</section>