<h2>Task Details</h2>

<section class="show">
  <ul>
    <li id="task-name">
      <h3><%= @task.name%></h3>
    </li>
    <li id="description">
      <p>Description: <%= @task.description%></p>
    </li>
    <li>
      <% if @task.completion_date.nil? %>
        <p>Date Completed: TBD</p>
      <% else %>
        <p>Date Completed: <%= @task.completion_date%></p>
      <% end %>
    </li>
    <li id="edit-link">
      <%= link_to "Edit", edit_task_path(@task.id) %>
    </li>
    <li id="delete-link">
      <%= link_to "Delete", task_path(@task.id), method: :delete, data: {confirm: "Are you sure you want to delete this task?"} %>
    </li>
  </ul>
</section>
