<h1 class="box header"><%= @task.name %></h1>
<ul class="box">
      <li> Title: <%= @task.name.capitalize %> </li>
      <li> Description: <%= @task.description %> </li>
      <li> <%= link_to "Edit", edit_task_path(@task) %> </li> 
      <hr>
      
      <%= link_to "Home", tasks_path %>
      </ul>