<section>
    <article>
        <h1>TaskList</h1>
        <%= link_to "Add Task", new_task_path, class: 'btn' %>
        <%= link_to "All Tasks", tasks_path, class: 'btn' %>
    </article>
    <article>
        <h3><%=@task.name %></h3>
        <p><%=@task.description %> </p>
        <p><%=@task.completed %></p>
        <%= link_to "Edit Task", edit_task_path(@task.id), class: 'btn'%>
    </article>


</section>
