<h1>Task#show</h1>

<% if @task.nil? %>
  <div class="notice"><%= flash[:notice] %></div>
<% else %>
  <%= "Task Name: #{@task.name}" %><br/>
  <%= "Task Description: #{@task.description}" %>
  <p><%= link_to 'Return to Task List', tasks_path %></p>
  <p><%= link_to 'Edit Task', edit_task_path %></p>
<% end %>
