<%= form_with model: @task do |f| %>
  <h2>task:</h2>

  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>
  </fieldset>

  <p>
    <%= f.submit "Save Task", class: "task-button" %>
  </p>
<% end %>
