<!DOCTYPE html>
<html>
  <head>
    <title>tasklist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  </head>
  <div class="wrapper">
    <body>
      <section class="box sidebar"> 
        <div class="options box">
        <%= link_to "Add Task", new_task_path %>
        </div>
        <div class="options box">
        <%= link_to "All Tasks", root_path %>
        </div>
      </section>

      <section class="content">
      <%= yield %>
      </section>

      </body>
     </div>
    <footer>
    copyright 2019
    </footer>
   

</html>
