<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Creepster&display=swap" rel="stylesheet">

  </head>

  <body>
  <!-- 
    path code source: https://stackoverflow.com/questions/1203892/how-can-i-find-out-the-current-route-in-rails
  -->
  <% current_path = request.env['PATH_INFO'] %>
  <% path = Rails.application.routes.recognize_path('/tasks') %>
  <% if current_path.include? path[:controller] %>
    <%= link_to "Home", root_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
