<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="nav-bar">
      <h1>Task List</h1>
      <section class="links">
        <ul>
          <li>
          <%= link_to "All Tasks", root_path %>
          </li>
          <li>
          <%= link_to "Add a Task", new_task_path %>
          </li>
        </ul>
      </section>
    </section>
    <%= yield %>
  </body>
  <footer>
    Copyright 2019
  </footer>
</html>
