<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <h1>TASKLIST:</h1> 
  </header>
  <aside>
    <%= yield %>
    </aside>
    <a href="/"><button class="button" id="all_tasks">All Tasks</button></a>
    <br />
    <br />
    <a href="/tasks/new"><button class="button" id="add_task">Add Task</button></a>
  <footer>Created by KKennedyCodes 2019</footer>
  </body>
</html>
