<h2> New Task Form</h2>

<%= form_with model :task, class: "new-task-form" do |f| %>

<%= f.label Name %>%
<%= f.text_field :name %>
Description
<%= f.text_field :description %>
Due Date
<%= f.text_field :due %>


<%= f.submit = "Create Task" class: "task-form-button" %>
<%end%>

